*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
}
#cabeza{
    display: flex;
    justify-content: center;
    background-color: #0055A4;
    width: 100%;
    align-items: center;
}
#cabeza h1{
    color: white;
}
#menu{
    background-color: #b8261c;
    margin: 0;
    padding: 0;
}
#menu a{
    color: white;
}
#historia{
    margin: 20px 25% 0 25%;
    padding: 0;
}
#historia p{
    width: 100%;
}