*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 17px;
    font-family: Calibri ;
    line-height: 1.5;
    background-color: rgba(255, 244, 236, 0.979);
}
header{
    width: 100%;
}
#cabeza{
    display: flex;
    justify-content: center;
    background-color: #0055A4;
    width: 100%;
    align-items: center;
}
#cabeza h1{
    color: white;
}
#menu{
    background-color: #b8261c;
    margin: 0;
    padding: 0;
}
#menu a{
    color: white;
}


#intro {
margin: 20px 25% 0 25%;
padding: 0;
}

#intro p{
    margin-top: 20px;
    width: 100%;
  
}

.monumentos{
    margin: 40px 25% 0 25%;
    padding: 0%;
}
#especifico{
    margin: 40px 25% 0 25%;
    padding: 0%;
}

.monumentos img{
    width: 100%;
    margin-top: 10px;
    view-timeline-name: --image ;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
}

.direc{
    display: flex;
    flex-direction: row;   
}

.data{
    margin-top: 20px;
    width: 100%;
}

.pinturaimg{
    height: 240px;
    width: 300px;
    margin-left: 20px;
}

#pintura1{
    width: 100%;
    margin: 40px 0% 0 0%;
    padding: 0;
}
#pintura2{
    width: 70%;
    margin: 40px 10% 0 20%;
    padding: 0;   
}
#pintura3{
    width: 70%;
    margin: 40px 10% 0 20%;
    padding: 0;   
}

.texto{
    width: 400px;
    padding: 10px 10px 10px 50px;
}


#foot{
    margin-top: 20px 0 0 0;
    background-color: rgba(255, 244, 236, 0.979);
    padding: 0;
}
#foot-container{
    background-color: rgba(255, 244, 236, 0.979);
}







@keyframes show{
    from{
        opacity: 0;
        scale: 25%;
    }
    to{
       opacity: 1; 
       scale: 100%;
    }
}


    
@media screen and (min-width: 320px) and (max-width: 480px){
    #intro {
        margin: 20px 15% 0 15%;
        padding: 0;
    }        
    .monumentos{
        margin: 40px 15% 0 15%;
        padding: 0%;
    }


}
    
.comidaimg{
    height: 240px;
    width: 300px;
}


#comida1{
    width: 70%;
    margin: 40px 10% 0 20%;
    padding: 0;

    view-timeline-name: --image ;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
}
#comida2{
    width: 70%;
    margin: 40px 10% 0 20%;
    padding: 0;   

    view-timeline-name: --image ;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
}
#comida3{
    width: 70%;
    margin: 40px 10% 0 20%;
    padding: 0;
    
    view-timeline-name: --image ;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
}

.texto{
    width: 400px;
    padding: 10px 10px 10px 50px;
}